.title {
  background-color: #666;
  padding: 30px;
  text-align: center;
  color: white;
}

.container{
      margin: 0 20%;
}

table {
  width: 100%;
}

td, th{
  width: 15%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.edit{
  margin: 0 5px;
}


.delete:hover{
  cursor: pointer;
  color: #d83a1b;
}

.edit:hover{
  cursor: pointer;
  color: #077781;
}

.search:hover{
  cursor: pointer;
  color: rgb(17, 17, 201);
}

.agregar{
  line-height: 28px;
}