table {
  width: 100%;
}

td, th{
  width: 15%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.edit{
  margin: 0 5px;
}


.delete:hover{
  cursor: pointer;
  color: #ff2a00;
}

.edit:hover{
  cursor: pointer;
  color: #00eaff;
}

.search:hover{
  cursor: pointer;
  color: rgb(0, 0, 255);
}

.agregar{
  line-height: 28px;
}